@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?20009581");
  src: url("../font/fontello.eot?20009581#iefix") format("embedded-opentype"), url("../font/fontello.woff2?20009581") format("woff2"), url("../font/fontello.woff?20009581") format("woff"), url("../font/fontello.ttf?20009581") format("truetype"), url("../font/fontello.svg?20009581#fontello") format("svg");
  font-style: normal;
  font-style: normal; }